label {
	display: block;
}

form {
	width: 40%;
	padding: 20px;
	border: 5px solid black;
	margin: 40px 0;
}

.padding-bottom {
	padding-bottom: 20px;
	text-align: left;
}

/*rgba - red orange green opacity */

